<div class="d-flex flex-column" style="min-height: 97vh;">
  <div class="content-wrapper flex-grow-1 mt-5">
    <h1 class="text-center">Nursing Ralated Graphics</h1>
    <p class="text-center">ここはトップページの予定です</p>
  </div>
</div>