<footer id='footer' class='footer-bottom mt-auto'>
  <div class='container'>
    <div class='row d-flex align-items-center'>
      <div class='col-sm-12 col-12 text-center'>
        <div class='copyright'>
          <p>Copyright © 2023. Nursing Related Graphics</p>
        </div>
      </div>
    </div>
  </div>
</footer>