<!-- ナビゲーションバー -->
<nav class="navbar navbar-light bg-light fixed-top d-flex">
  <!-- タイトル -->
  <%= link_to "Nursing Related Graphics", root_path, class: "navbar-brand ms-3" %>

  <!-- ドロップダウンコンポーネント -->
   <div class="dropdown me-5"
    <!-- トリガーボタン -->
    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= current_user.name %>
    </button>

    <!-- ドロップダウンメニュー -->
    <div class="dropdown-menu custom-dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">マイページ</a>
      <a class="dropdown-item" href="#">プロフィール</a>
      <%= link_to 'ログアウト', logout_path, class:"dropdown-item", data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
    </div>
  </div>
</nav>

