<div class="min-vh-100 d-flex justify-content-center align-items-center">
  <div class="container mt-5 align-items-center">
    <div class="row">
      <div class="col offset">
        <p>graphics一覧ページ</p>
      </div>
    </div>
  </div>
</div>